body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.merge-button {
  background-image: url('assets/merge-icon.png')
}

.edit-attributes-button {
  background-image: url('assets/edit-attributes-icon1.png');
}

.rename-region-button {
  background-image: url('assets/rename-icon.png')
}

.map-prop-button {
  background-image: url('assets/map-props-icon.jpeg');
}

.textLabel {
  background-color: transparent;
}